# Local CMS Tools (Hidded from Production)
node_modules/
admin/
server.js
package.json
package-lock.json

# Keep Data (Publicly accessible for static site)
!data/projects.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
